<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SafeWork - Dados Empresariais</title>
    <link rel="stylesheet" href="../public/css/style.css" />
    <link rel="stylesheet" href="../public/css/dados-finalizar.css" />
    <link
      rel="shortcut icon"
      href="../public/img/icon.svg"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header></header>

    <div class="padding">
      <nav>
        <div class="one-step">
          <div class="circ-step circ-active">
            <p>1</p>
          </div>
          <div class="escrita-step">
            <p><strong class="escrita-active">Dados</strong></p>
          </div>
        </div>

        <hr />

        <div class="one-step">
          <div class="circ-step">
            <p>2</p>
          </div>
          <div class="escrita-step">
            <p><strong>Entrega</strong></p>
          </div>
        </div>

        <hr />

        <div class="one-step">
          <div class="circ-step">
            <p>3</p>
          </div>
          <div class="escrita-step">
            <p><strong>Pagamento</strong></p>
          </div>
        </div>
      </nav>

      <main>
        <div class="titulo-main">
          <i class="fa-solid fa-briefcase"></i>
          <h1>Dados Empresariais</h1>
        </div>

        <form action="">
          <div class="inteira-input">
            <label for="nome-empresa"><strong>Nome da Empresa *</strong></label>
            <input
              type="text"
              name="nome-empresa"
              id="nome-empresa"
              placeholder="SafeWork"
              required
            />
          </div>

          <div class="metade-input">
            <div class="one-metade">
              <label for="CNPJ"><strong>CNPJ *</strong></label>
              <input
                type="text"
                name="CNPJ"
                id="CNPJ"
                placeholder="XX.XXX.XXX/0001-AA"
                required
              />
            </div>

            <div class="one-metade">
              <label for="telefone-empresa"
                ><strong>Telefone da Empresa *</strong></label
              >
              <input
                type="tel"
                name="telefone-empresa"
                id="telefone-empresa"
                placeholder="(11) 99999-9999"
                required
                maxlength="15"
              />
            </div>
          </div>

          <div class="inteira-input">
            <label for="email-empresa"
              ><strong>E-mail da Empresa *</strong></label
            >
            <input
              type="email"
              name="email-empresa"
              id="email-empresa"
              placeholder="safework@gmail.com"
              required
            />
          </div>
        </form>
        <a href="">
          <button><strong>Continuar</strong></button>
        </a>
      </main>
    </div>
  </body>
</html>
