<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SafeWork - Dados Empresariais</title>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../public/css/finalizar.css" />
    <link
      rel="shortcut icon"
      href="../public/img/icon.svg"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src=" https://cdn.jsdelivr.net/npm/@flaticon/flaticon-uicons@3.3.1/license.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/@flaticon/flaticon-uicons@3.3.1/css/all/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../public/css/style.css" />
  </head>
  <body>
    <header id="header_usuario">
      <div class="menulateral_usuario">
        <button
          class="button_openmenu"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasWithBothOptions"
          aria-controls="offcanvasWithBothOptions"
        >
          <img src="../public/img/menuicon.svg" alt="Menu Lateral" />
        </button>
        <div
          class="offcanvas offcanvas-start"
          data-bs-scroll="true"
          tabindex="-1"
          id="offcanvasWithBothOptions"
          aria-labelledby="offcanvasWithBothOptionsLabel"
        >
          <div class="offcanvas-header">
            <a href="../views/index.html"
              ><img
                src="../public/img/logo-branca.svg"
                class="menulateral_header"
            /></a>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="offcanvas-body">
            <div class="nav_item">
              <a class="menu_redirecionamento" href="../views/produtos.html">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-house-door-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"
                  />
                </svg>
                <p>home</p>
              </a>
            </div>
            <hr />

            <div class="nav_item dropdown">
              <!-- link principal -->
              <a class="menu_redirecionamento toggle-produtos" href="#">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-box-seam-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M15.528 2.973a.75.75 0 0 1 .472.696v8.662a.75.75 0 0 1-.472.696l-7.25 2.9a.75.75 0 0 1-.557 0l-7.25-2.9A.75.75 0 0 1 0 12.331V3.669a.75.75 0 0 1 .471-.696L7.443.184l.01-.003.268-.108a.75.75 0 0 1 .558 0l.269.108.01.003zM10.404 2 4.25 4.461 1.846 3.5 1 3.839v.4l6.5 2.6v7.922l.5.2.5-.2V6.84l6.5-2.6v-.4l-.846-.339L8 5.961 5.596 5l6.154-2.461z"
                  />
                </svg>
                <p>
                  Produtos
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-chevron-down"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
                    />
                  </svg>
                </p>
              </a>
              <!-- submenu -->
              <div class="submenu">
                <a
                  class="submenu_redirecionamento"
                  href="../views/produtos.html"
                  >Facial
                  <i class="fi fi-ts-angle-small-right"></i>
                </a>
                <a
                  class="submenu_redirecionamento"
                  href="../views/produtos.html"
                  >Ocular
                  <i class="fi fi-ts-angle-small-right"></i>
                </a>
                <a
                  class="submenu_redirecionamento"
                  href="../views/produtos.html"
                  >Corporal
                  <i class="fi fi-ts-angle-small-right"></i>
                </a>
                <a
                  class="submenu_redirecionamento"
                  href="../views/produtos.html"
                  >Respiratório
                  <i class="fi fi-ts-angle-small-right"></i>
                </a>
                <a
                  class="submenu_redirecionamento"
                  href="../views/produtos.html"
                  >Auditivo
                  <i class="fi fi-ts-angle-small-right"></i>
                </a>
                <a
                  class="submenu_redirecionamento"
                  href="../views/produtos.html"
                  >Manual
                  <i class="fi fi-ts-angle-small-right"></i>
                </a>
                <a
                  class="submenu_redirecionamento"
                  href="../views/produtos.html"
                  >Pés e Pernas
                  <i class="fi fi-ts-angle-small-right"></i>
                  <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                  class="bi bi-chevron-right" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd"
                                      d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                              </svg> -->
                </a>
                <a
                  class="submenu_redirecionamento"
                  href="../views/produtos.html"
                  >Cabeça
                  <i class="fi fi-ts-angle-small-right"></i>
                </a>
              </div>
            </div>
            <hr />

            <div class="nav_item">
              <a class="menu_redirecionamento" href="../views/contato.html">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-telephone-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"
                  />
                </svg>
                <p>contato</p>
              </a>
            </div>
            <hr />

            <div class="nav_item">
              <a class="menu_redirecionamento" href="../views/sobrenos.html">
                <i class="fi fi-sr-bullseye-arrow"></i>
                <p>sobre nós</p>
              </a>
            </div>
            <hr />
          </div>
        </div>
      </div>
      <div class="logo_header">
        <a href="../views/index.html"><img src="../public/img/logo.svg" /></a>
      </div>
      <div class="icons_header">
        <button id="open-carrinho">
                <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-cart"
                    viewBox="0 0 16 16">
                    <path
                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                </svg>
            </button>
        <a href="../views/cadastro.html">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="currentColor"
            class="bi bi-person"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"
            />
          </svg>
        </a>
      </div>
    </header>

    <div class="padding">
      <nav>
        <div class="one-step">
          <div class="circ-step">
            <p>1</p>
          </div>
          <div class="escrita-step">
            <p><strong>Dados</strong></p>
          </div>
        </div>

        <hr />

        <div class="one-step">
          <div class="circ-step circ-active">
            <p>2</p>
          </div>
          <div class="escrita-step">
            <p><strong class="escrita-active">Entrega</strong></p>
          </div>
        </div>

        <hr />

        <div class="one-step">
          <div class="circ-step">
            <p>3</p>
          </div>
          <div class="escrita-step">
            <p><strong>Pagamento</strong></p>
          </div>
        </div>
      </nav>

      <main>
        <div class="titulo-main">
          <i class="fa-solid fa-box-open"></i>
          <h1>Entrega dos Produtos</h1>
        </div>

        <form action="">
          <div class="inteira-input">
            <label for="endereco"><strong>Endereço *</strong></label>
            <input
              type="text"
              name="endereco"
              id="endereco"
              placeholder="Rua João, 272"
              required
            />
          </div>

          <div class="metade-input">
            <div class="one-metade">
              <label for="CPF"><strong>CPF do Representante *</strong></label>
              <input
                type="text"
                name="CPF"
                id="CPF"
                placeholder="999.999.999-99"
                required
                maxlength="14"
              />
            </div>

            <div class="one-metade">
              <label for="telefone-representante"
                ><strong>Telefone do Representante *</strong></label
              >
              <input
                type="tel"
                name="telefone-representante"
                id="telefone-empresa"
                placeholder="(11) 99999-9999"
                required
                maxlength="15"
              />
            </div>
          </div>

          <div class="inteira-input">
            <label for="nome-representante"
              ><strong>Nome Completo do Representante *</strong></label
            >
            <input
              type="text"
              name="nome-representante"
              id="nome-representante"
              placeholder="Marcos Vinicíus"
              required
            />
          </div>

          <div class="inteira-input">
            <label for="email-empresa"><strong>Portaria *</strong></label>
            <input
              type="portaria"
              name="portaria"
              id="portaria"
              placeholder="523"
              required
            />
          </div>
        </form>
        <a href="./pagamento.html">
          <button><strong>Continuar</strong></button>
        </a>
      </main>
    </div>

    <div class="aba-carrinho" id="aba-carrinho">
        <div class="titulo-filtrar">
          <h1>Seu Carrinho</h1>
          <i class="fi fi-br-cross-small" id="btnFechar-filtrar"></i>
        </div>

        <div class="padding-filtrar">
          <div class="one-produto-carrinho">
            <div class="space-img-carrinho">
                <img src="../public/img/abafador.svg" alt="">
            </div>

            <div class="space-meio-carrinho">
                <div class="names-carrinho">
                    <p><strong>Capacete de Proteção</strong></p>
                    
                    <span>CA: 56578</span>
                </div>

                <div class="add-remove-carrinho">
                  <button class="reduzir-carrinho" id="reduzir-carrinho">
                    <p>-</p>
                  </button>
    
                  <p id="quantidade-carrinho">1</p>
                  
                  <button class="add-carrinho" id="adicionar-carrinho">
                    <p>+</p>
                </div>
            </div>

            <div class="space-final-carrinho">
                <i class="fi fi-br-cross-small" id="btnRemoveItem"></i>
                <p>R$ <span id="preco-item-carrinho">0</span></p>
            </div>
          </div>
        </div>

        <div class="esp-button-carrinho">
            <div class="subtotal-carrinho">
                <p>Subtotal:</p>
                <p><strong>R$ <span id="subtotal-carrinho">0</span></strong></p>
            </div>
            <a href="dados.html"><button type="submit" id="confirmar-filtrar">Finalizar Compra</button></a>
        </div>
      </div>

      <div class="escurecer-filtrar" id="escurecer-filtrar"></div>

    <script src="../public/js/finalizar.js"></script>
    <script src="../public/js/funcoesprincipais.js"></script>
    <script src="../public/js/entrega.js"></script>
  </body>
</html>
