<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SafeWork - Produto</title>
    <link rel="shortcut icon" href="../public/img/icon.svg" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet" />
    <script src="https://kit.fontawesome.com/167f6b34b8.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous" />
    <link rel="stylesheet" href="../public/css/style.css" />
    <link rel="stylesheet" href="../public/css/infoprodutos.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <script src=" https://cdn.jsdelivr.net/npm/@flaticon/flaticon-uicons@3.3.1/license.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@flaticon/flaticon-uicons@3.3.1/css/all/all.min.css" rel="stylesheet">
</head>

<body id="cadastro">
    <header id="header_usuario">
        <div class="menulateral_usuario">
            <button class="button_openmenu" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><img
                    src="../public/img/menuicon.svg" alt="Menu Lateral"></button>
            <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
                aria-labelledby="offcanvasWithBothOptionsLabel">
                <div class="offcanvas-header">
                    <a href="../views/index.html"><img src="../public/img/logo-branca.svg"
                            class="menulateral_header"></a>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="nav_item">
                        <a class="menu_redirecionamento" href="../views/index.html">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-house-door-fill" viewBox="0 0 16 16">
                                <path
                                    d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5" />
                            </svg>
                            <p>home</p>
                        </a>
                    </div>
                    <hr>

                    <div class="nav_item dropdown">
                        <!-- link principal -->
                        <a class="menu_redirecionamento toggle-produtos" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-box-seam-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M15.528 2.973a.75.75 0 0 1 .472.696v8.662a.75.75 0 0 1-.472.696l-7.25 2.9a.75.75 0 0 1-.557 0l-7.25-2.9A.75.75 0 0 1 0 12.331V3.669a.75.75 0 0 1 .471-.696L7.443.184l.01-.003.268-.108a.75.75 0 0 1 .558 0l.269.108.01.003zM10.404 2 4.25 4.461 1.846 3.5 1 3.839v.4l6.5 2.6v7.922l.5.2.5-.2V6.84l6.5-2.6v-.4l-.846-.339L8 5.961 5.596 5l6.154-2.461z" />
                            </svg>
                            <p>Produtos
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-chevron-down" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708" />
                                </svg>
                            </p>
                        </a>
                        <!-- submenu -->
                        <div class="submenu">
                            <a class="submenu_redirecionamento" href="../views/produtos.html">Facial
                                <i class="fi fi-ts-angle-small-right"></i>
                            </a>
                            <a class="submenu_redirecionamento" href="../views/produtos.html">Ocular
                                <i class="fi fi-ts-angle-small-right"></i>
                            </a>
                            <a class="submenu_redirecionamento" href="../views/produtos.html">Corporal
                                <i class="fi fi-ts-angle-small-right"></i>
                            </a>
                            <a class="submenu_redirecionamento" href="../views/produtos.html">Respiratório
                                <i class="fi fi-ts-angle-small-right"></i>
                            </a>
                            <a class="submenu_redirecionamento" href="../views/produtos.html">Auditivo
                                <i class="fi fi-ts-angle-small-right"></i>
                            </a>
                            <a class="submenu_redirecionamento" href="../views/produtos.html">Manual
                                <i class="fi fi-ts-angle-small-right"></i>
                            </a>
                            <a class="submenu_redirecionamento" href="../views/produtos.html">Pés e Pernas
                                <i class="fi fi-ts-angle-small-right"></i>
                            </a>
                            <a class="submenu_redirecionamento" href="../views/produtos.html">Cabeça
                                <i class="fi fi-ts-angle-small-right"></i>
                            </a>
                        </div>
                    </div>
                    <hr>

                    <div class="nav_item">
                        <a class="menu_redirecionamento" href="../views/contato.html">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-telephone-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                            </svg>
                            <p>contato</p>
                        </a>
                    </div>
                    <hr>

                    <div class="nav_item">
                        <a class="menu_redirecionamento" href="../views/sobrenos.html">
                            <i class="fi fi-sr-bullseye-arrow"></i>
                            <p>sobre nós</p>
                        </a>
                    </div>
                    <hr>

                </div>
            </div>
        </div>
        <div class="logo_header">
            <a href="../views/index.html"><img src="../public/img/logo.svg"></a>
        </div>
        <div class="icons_header">
            <a href="#carrinho">
                <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-cart"
                    viewBox="0 0 16 16">
                    <path
                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                </svg>
            </a>
            <a href="../views/cadastro.html">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person"
                    viewBox="0 0 16 16">
                    <path
                        d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                </svg>
            </a>
        </div>
    </header>
    <section id="info_prods">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="img_informacoes">
                        <img src="../public/img/abafador.svg" style="width:100%;max-width:400px;display:block;">
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="informacoes_produto">
                        <h1 class="titulo_informacoes" id="tituloprod">ABAFADOR 3M AMARELO</h1>
                        <div class="especificacoes">
                            <div class="caprod" id="caprod">
                                <p>C.A: 0001</p>
                            </div>
                            <div class="codprod">
                                <p>Cód: 0001</p>
                            </div>
                            <div class="avaliacaoprod">
                                <i class="fi fi-ss-star"></i>
                                <i class="fi fi-ss-star"></i>
                                <i class="fi fi-ss-star"></i>
                                <i class="fi fi-ss-star"></i>
                                <i class="fi fi-ts-star-sharp-half-stroke"></i>
                            </div>
                        </div>
                        <div class="escolherquant">
                            <div class="pretexto">
                                <p>Escolha os tamanhos e quantidades de lotes* desejadas</p>
                            </div>
                            <div class="subtitle">
                                <p>* 1 lote equivale a 50 unidades.</p>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="squaretam">
                                            <div class="tam">39</div>
                                            <div class="linha_informacoes" data-tamanho="39">
                                                <div class="quantidade-container">
                                                    <button class="diminuir-btn" type="button">-</button>
                                                    <input type="number" class="quantidade-input" value="0" min="0"
                                                        max="50">
                                                    <button class="aumentar-btn" type="button">+</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="squaretam">
                                            <div class="tam">40</div>
                                            <div class="linha_informacoes" data-tamanho="40">
                                                <div class="quantidade-container">
                                                    <button class="diminuir-btn" type="button">-</button>
                                                    <input type="number" class="quantidade-input" value="0" min="0"
                                                        max="50">
                                                    <button class="aumentar-btn" type="button">+</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="squaretam">
                                            <div class="tam">41</div>
                                            <div class="linha_informacoes" data-tamanho="41">
                                                <div class="quantidade-container">
                                                    <button class="diminuir-btn" type="button">-</button>
                                                    <input type="number" class="quantidade-input" value="0" min="0"
                                                        max="50">
                                                    <button class="aumentar-btn" type="button">+</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <div class="squaretam">
                                            <div class="tam">42</div>
                                            <div class="linha_informacoes" data-tamanho="42">
                                                <div class="quantidade-container">
                                                    <button class="diminuir-btn" type="button">-</button>
                                                    <input type="number" class="quantidade-input" value="0" min="0"
                                                        max="50">
                                                    <button class="aumentar-btn" type="button">+</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="squaretam">
                                            <div class="tam">43</div>
                                            <div class="linha_informacoes" data-tamanho="43">
                                                <div class="quantidade-container">
                                                    <button class="diminuir-btn" type="button">-</button>
                                                    <input type="number" class="quantidade-input" value="0" min="0"
                                                        max="50">
                                                    <button class="aumentar-btn" type="button">+</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="squaretam">
                                            <div class="tam">44</div>
                                            <div class="linha_informacoes" data-tamanho="44">
                                                <div class="quantidade-container">
                                                    <button class="diminuir-btn" type="button">-</button>
                                                    <input type="number" class="quantidade-input" value="0" min="0"
                                                        max="50">
                                                    <button class="aumentar-btn" type="button">+</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h1 class="preco_produto">R$ 39.90</h1>
                        <button class="addcarrinho_informacoes">Comprar<i class="fi fi-rs-shopping-cart"></i></button>
                        <div class="calc_frete">
                            <p class="pretexto_frete">Calcule seu frete</p>
                            <div class="input_frete">
                                <div class="cont_frete">
                                    <input type="number">
                                    <button type="button">Calcular</button>
                                </div>
                                <a href="https://buscacepinter.correios.com.br/app/endereco/index.php">Não sei meu CEP</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Descrição -->
        <div class="descricao_prod">
            <div class="titulo-linha">
                <h1 class="titulo_secaoprod">Descrição</h1>
                <hr class="linha-gradiente">
            </div>
            <p>
                O Abafador 3M Amarelo é a escolha ideal para quem busca proteção auditiva eficiente em ambientes com
                alto nível de ruído. Fabricado com materiais resistentes e confortáveis, ele oferece excelente vedação
                sonora sem comprometer o bem-estar durante o uso prolongado.<br><br>

                Características principais:
                Redução de ruído eficaz (atenuação média de até 14 dB)
                Almofadas macias e anatômicas para maior conforto
                Arco ajustável com revestimento acolchoado
                Design leve e ergonômico
                Certificado de Aprovação (C.A: 0001) – conforme normas de segurança<br><br>

                Indicado para:
                Construção civil
                Indústrias metalúrgicas e químicas
                Ambientes com máquinas pesadas
                Eventos com exposição sonora intensa
                Disponível nos tamanhos P, M, G, GG, G1 e G2, com ajuste de quantidade por unidade.
            </p>
        </div>
        <!-- Avaliações -->
        <div class="avaliacao_prod">
            <div class="titulo-linha">
                <h1 class="titulo_secaoprod">Avaliações</h1>
                <hr class="linha-gradiente">
            </div>
            <div class="avaliacoes">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div class="eachavaliacao">
                                <div class="avaliacaoprod">
                                    <i class="fi fi-ss-star"></i>
                                    <i class="fi fi-ss-star"></i>
                                    <i class="fi fi-ss-star"></i>
                                    <i class="fi fi-ss-star"></i>
                                    <i class="fi fi-ts-star-sharp-half-stroke"></i>
                                </div>
                                <div class="conteudodaavaliacao">
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum laboriosam a
                                        doloremque. Officiis, quis.</p>
                                </div>
                                <div class="nomeavaliador">
                                    <p>Nome da Empresa</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="eachavaliacao">
                                <div class="avaliacaoprod">
                                    <i class="fi fi-ss-star"></i>
                                    <i class="fi fi-ss-star"></i>
                                    <i class="fi fi-ss-star"></i>
                                    <i class="fi fi-ss-star"></i>
                                    <i class="fi fi-ts-star-sharp-half-stroke"></i>
                                </div>
                                <div class="conteudodaavaliacao">
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum laboriosam a
                                        doloremque. Officiis, quis.</p>
                                </div>
                                <div class="nomeavaliador">
                                    <p>Nome da Empresa</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="eachavaliacao">
                                <div class="avaliacaoprod">
                                    <i class="fi fi-ss-star"></i>
                                    <i class="fi fi-ss-star"></i>
                                    <i class="fi fi-ss-star"></i>
                                    <i class="fi fi-ss-star"></i>
                                    <i class="fi fi-ts-star-sharp-half-stroke"></i>
                                </div>
                                <div class="conteudodaavaliacao">
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum laboriosam a
                                        doloremque. Officiis, quis.</p>
                                </div>
                                <div class="nomeavaliador">
                                    <p>Nome da Empresa</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Interesses -->
    <section id="interesses">
        <h1 class="titulo_interesses">Quem Comprou, Comprou Também!</h1>
        <div class="prods_interesses">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-3">Produto 1</div>
                    <div class="col-12 col-md-3">Produto 2</div>
                    <div class="col-12 col-md-3">Produto 3</div>
                    <div class="col-12 col-md-3">Produto 4</div>
                </div>
            </div>
        </div>
    </section>


    <div class="footer_fundo">
        <div class="container ffg">
            <footer class="py-5">
                <div class="row">
                    <div class="col-6 col-md-2 mb-3 ">
                        <div class="principal_footer">
                            <img src="../public/img/logo-branca.svg" style="width: 80%;">
                        </div>
                    </div>

                    <div class="col-6 col-md-2 mb-3">
                        <div class="socialmedia2">
                            <ul class="nav flex-column">
                                <div class="socialmedia">
                                    <i class="fa-solid fa-phone"></i>
                                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footerlink">4002 -
                                            8922</a></li>
                                </div>
                                <div class="socialmedia">
                                    <i class="fa-brands fa-instagram"></i>
                                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 footerlink">@safework</a>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>

                    <div class="col-6 col-md-2 mb-3">
                        <div class="redirecionamento_footer">
                            <ul class="nav flex-column">
                                <li class="nav-item mb-2"><a href="index.html" class="nav-link p-0 footerlink">Home</a>
                                </li>
                                <li class="nav-item mb-2"><a href="cardapio.html"
                                        class="nav-link p-0 footerlink">Produtos</a>
                                </li>
                                <li class="nav-item mb-2"><a href="personalizacao.html"
                                        class="nav-link p-0 footerlink">Sobre Nós</a></li>
                                <li class="nav-item mb-2"><a href="index.html#contato"
                                        class="nav-link p-0 footerlink">Contato</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-5 offset-md-1 mb-3">
                        <form class="cadastro_lancamentos">
                            <p>Cadastre-se para receber lançamentos de novos produtos e promoções!</p>
                            <div class="d-flex flex-column flex-sm-row w-100 gap-2 tllj">
                                <input id="newsletter1" type="email" placeholder="Email" required>
                                <button id="btnCadastrarLancamento" type="button">Cadastre-se</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="d-flex flex-sm-row justify-content-center py-4 my-4 border-top tlls">
                    <p>© 2025. SafeWork. Todos os direitos reservados.</p>
                </div>

            </footer>
        </div>
    </div>
    <script src="../public/js/funcoesprincipais.js"></script>
</body>

</html>