<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SafeWork - Faça seu login aqui</title>
    <link
      rel="shortcut icon"
      href="../public/img/icon.svg"
      type="image/x-icon"
    />
    <script
      src="https://kit.fontawesome.com/167f6b34b8.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../public/css/style.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../public/css/login.css">
  </head>

  <body>
    <header></header>

    <div class="padding">
      <main class="main-login">
        <div class="lado-form">
          <div class="logo-reta">
            <img src="../public/img/icon.svg" alt="" />
            <h1>SAFEWORK</h1>
          </div>

          <div class="welcome-login">
            <h2><strong>Bem-vindo de volta!</strong></h2>
            <p>Entre com sua conta para continuar</p>
          </div>

          <form action="" class="form-login">
            <div class="one-input">
              <label for="email"><strong>E-mail</strong></label>
              <input
                type="email"
                id="email"
                placeholder="seu@gmail.com"
                required
              />
            </div>

            <div class="one-input">
              <label for="senha"><strong>Senha</strong></label>
              <input
                type="password"
                id="senha"
                placeholder="Digite sua senha"
                required
              />
            </div>

            <button><strong>Entrar</strong></button>
          </form>

          <div class="linha-others">
            <hr>
            <p><strong>ou continue com</strong></p>
            <hr>
          </div>

          <div class="others-login">
            <div class="one-other other-google">
              <img src="../public/img/google.svg" alt="">
            </div>

            <div class="one-other other-facebook">
              <i class="fa-brands fa-facebook-f"></i>
            </div>

            <div class="one-other other-apple">
              <i class="fa-brands fa-apple"></i>
            </div>
          </div>

          <div class="link-cadastro">
            <p>
              Não tem uma conta? <a href=""><strong>Cadastre-se</strong></a>
            </p>
          </div>
        </div>

        <div class="lado-img">
          <div class="escrita-benef">
            <img src="../public/img/icon.svg" alt="" />
            <h2><strong>Sua Segurança é Nossa<br>Prioridade</strong></h2>
            <p>
              Acesse os melhores equipamentos de proteção individual com entrega
              rápida e segura.
            </p>
          </div>

          <div class="conj-benef">
            <div class="linha-benef">
              <div class="circ-benef">
                <i class="fa-solid fa-check"></i>
              </div>

              <div class="one-benef">
                <p><b>Produtos Certificados</b></p>
              </div>
            </div>

            <div class="linha-benef">
              <div class="circ-benef">
                <i class="fa-solid fa-truck"></i>
              </div>

              <div class="one-benef">
                <p><b>Entrega em todo Brasil</b></p>
              </div>
            </div>

            <div class="linha-benef">
              <div class="circ-benef">
                <i class="fa-solid fa-credit-card"></i>
              </div>

              <div class="one-benef">
                <p><b>Pagamento Seguro</b></p>
              </div>
            </div>

            <div class="linha-benef">
              <div class="circ-benef">
                <i class="fa-solid fa-phone"></i>
              </div>

              <div class="one-benef">
                <p><b>Suporte Especializado</b></p>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
