.criar-conta {
    box-shadow:
        0 6px 15px rgba(0, 0, 0, 0.3),
        /* sombra principal mais suave */
        0 3px 10px rgba(0, 0, 0, 0.2),
        /* camada intermediária */
        0 1px 4px rgba(0, 0, 0, 0.1);
    /* camada de transição delicada */
    border-radius: 1rem;
    height: 80vh;
    width: 70%;
    margin-top: 15vh;
}


.fundo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center
}

.logo_conteudo {
    display: flex;
    align-items: center;

    img {
        width: 5vh;
        padding-bottom: 20px;
    }

    h1 {
        font-family: var(--bebas);
        padding: 0.4rem;
        font-size: 2rem;
    }
}

.titulo {
    font-weight: 700;
    color: var(--azul-crepusculo);
    font-size: 1.8rem;
}

.subtitulo {
    color: var(--cinza-escuro);
}

.informacoes {
    padding: 2rem;
}

.cadastro_each {
    display: flex;
    flex-direction: column;

    p {
        font-weight: 700;
        margin: 10px 0 10px 0;
    }

    input {
        height: 4dvh;
        border-radius: 0.4rem;
        padding: 1rem;
        width: 100%;
        border: 0.5px solid var(--preto);
    }
}

#form_cadastro{
    .alignsubmit{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .aligncheckbox{
        display: flex;
        align-items: center;
        b{
            color: var(--azul-crepusculo);
        }
    }
    .continuecom{
        display: flex;
        hr{
            width: 10px;
        }
    }
    .align{
        a{
            font-weight: 700;
            color: var(--azul-crepusculo);
        }
    }
    button{
        margin: 1.5rem;        
        padding: 0.6rem;  
        border-radius: 0.4rem;    
        background-color: var(--azul-crepusculo);  
        color: var(--branco);
        font-weight: 650;
        border: transparent;
    }

}

/* <!--------------------------------- Responsividade ----------------------------------!> */

/* <!----------- Celulares --------------!> */
@media (max-width: 480px) {
    .criar-conta {
        width: 90%;
    }
}

/* <!----------- Tablets/Laptops pequenos --------------!> */
@media (max-width: 1524px) and (min-width: 481px) {
    .criar-conta {
        width: 90%;
    }
}