header {
  height: 7.5dvh;
  background-color: aquamarine;
}

.padding {
  display: flex;
  flex-direction: column;
  gap: 10dvh;
  height: 92.5vh;
  padding: 2.5% 10%;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1dvw;

  hr {
    width: 2.5%;
    height: 1px;
    border-color: var(--cinza);
  }
}

.one-step {
  display: flex;
  gap: 1dvw;
  align-items: center;
}

.circ-step {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5dvw;
  height: 2.5dvw;
  border-radius: 50%;
  background-color: var(--cinza);

  p {
    font-size: 1.5rem;
    color: black;
  }
}

.escrita-step p {
  font-size: 1.6rem;
  color: var(--cinza);
}

.circ-active {
  background-color: var(--azul-crepusculo);

  p {
    color: white;
  }
}

.escrita-active {
  color: var(--azul-crepusculo);
}

main {
  display: flex;
  flex-direction: column;
  gap: 5dvh;
  width: 100%;
  height: 100%;
}

.titulo-main {
  display: flex;
  align-items: center;
  gap: 1dvw;

  i {
    font-size: 2.5rem;
    color: var(--azul-crepusculo);
  }

  h1 {
    font-family: var(--bebas);
    font-size: 3rem;
    color: var(--azul-crepusculo);
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 3dvh;
}

.inteira-input {
  display: flex;
  flex-direction: column;
  gap: 2dvh;

  label {
    font-size: 1.25rem;
    pointer-events: none;
  }

  input {
    font-size: 1.25rem;
    border: 1px solid var(--cinza);
    height: 6.5dvh;
    padding: 0.75rem;
    border-radius: 0.75rem;
  }

  input::placeholder {
    font-size: 1.25rem;
    color: var(--cinza);
  }
}

.metade-input {
  display: flex;
  gap: 1dvw;
}

.one-metade {
  display: flex;
  flex-direction: column;
  gap: 2dvh;
  width: 50%;

  label {
    pointer-events: none;
    font-size: 1.25rem;
  }

  input {
    font-size: 1.25rem;
    border: 1px solid var(--cinza);
    height: 6.5dvh;
    padding: 0.75rem;
    border-radius: 0.75rem;
  }

  input::placeholder {
    font-size: 1.25rem;
    color: var(--cinza);
  }
}

main button {
  width: 100%;
  height: 6.5dvh;
  border-radius: 0.75rem;
  border: none;
  background-color: var(--azul-crepusculo);
  color: white;
  font-size: 1.25rem;
  cursor: pointer;
}

@media (max-width: 640px) {
  .circ-step {
    width: 4dvw;
    height: 4dvw;

    p {
      font-size: 1rem;
    }
  }

  .escrita-step p {
    font-size: 1rem;
  }

  .titulo-main {
    i {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 2rem;
    }
  }

  .padding {
    gap: 5dvh;
  }

  .inteira-input {
    label {
      font-size: 1rem;
    }

    input {
      font-size: 1rem;
      height: 5dvh;
    }

    input::placeholder {
      font-size: 1rem;
    }
  }

  .one-metade {
    label {
      font-size: 1rem;
    }

    input {
      font-size: 1rem;
      height: 5dvh;
    }

    input::placeholder {
      font-size: 1rem;
    }
  }

  main button {
    height: 5dvh;
    font-size: 1rem;
  }

}
