.padding {
  padding: 2.5% 10%;
  display: flex;
  margin-top: 7.5dvh;
  flex-direction: column;
  gap: 7.5dvh;

  hr {
    width: 100%;
    border: none;
    height: 3px;
    background: linear-gradient(
      to right,
      transparent,
      var(--azul-crepusculo),
      transparent
    );
  }
}

.cont-confirmado {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3dvh;
}

.msg-confirmado {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5dvh;

  h1 {
    color: var(--azul-crepusculo);
    font-weight: 700;
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.5rem;
    color: var(--cinza-escuro);
  }
}

.rnd-confirmado {
  width: 6rem;
  height: 6rem;
  background-color: var(--azul-crepusculo);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;

  i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3rem;
  }
}

.rnd-confirmado:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: scale(0.9);
}

.cont-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5dvh;
  background: linear-gradient(to right, #33b0ff, #002a8f);
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;

  h3 {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
  }

  h2 {
    font-weight: 700;
    color: white;
    font-size: 1.75rem;
  }
}

.cont-number:hover {
  transform: translateY(-0.5dvh);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.cont-info {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--cinza-claro);
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 1.5rem;
  gap: 2dvh;
  transition: all 0.3s ease;
}

.cont-info:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.titulo-info {
  display: flex;
  gap: 1dvw;

  i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: var(--azul-crepusculo);
  }

  h5 {
    color: var(--azul-crepusculo);
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.descricao-info {
  display: flex;
  flex-direction: column;
  gap: 0.75dvh;

  p {
    font-size: 1.25rem;
  }
}

.steps-entrega {
    display: flex;
    flex-direction: column;
    gap: 1dvh;
}

.cont_processa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;

  p {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }
}


.row-images {
    display: flex;
    align-items: center;

    hr {
        border: none;
        border-top: 2px solid black;
        height: 4px;
        width: 25%;
    }
}

.circ-img-active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--azul-crepusculo);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-left: 1rem;
    transition: all 0.3s ease;

    i {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 2rem;
    }
}

.circ-img-active:hover {
    transform: translateY(-1dvh);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.circ-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: var(--cinza-claro);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;

    i {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--cinza-escuro);
        font-size: 2rem;
    }
}

.circ-img:hover {
    transform: translateY(-1dvh);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.row-escrita {
    display: flex;
    text-align: center;
    gap: 10dvw;
}

.cont-pedido {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--azul-crepusculo);
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 1.5rem;
  gap: 3dvh;

  h2 {
    color: var(--azul-crepusculo);
    font-weight: 700;
    font-size: 2.25rem;
  }
}

.descricao-pedido {
  display: flex;
  flex-direction: column;

  hr {
    border: none;
    height: 2px;
    border-top: 2px solid black;
  }
}

.row-pedido {
  display: flex;
  justify-content: space-between;

  p {
    font-size: 1.25rem;
    color: var(--cinza-escuro);
  }
}

.row-total {
  display: flex;
  justify-content: space-between;

  p {
    font-size: 1.5rem;
    color: var(--azul-crepusculo);
  }
}

.buttons-pedido {
  display: flex;
  gap: 1dvw;
}

.one-button-active {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  gap: 1dvw;
  width: 50%;
  background-color: var(--azul-crepusculo);
  padding: 1.25rem;
  transition: all 0.3s ease;

  i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
  }

  p {
    font-size: 1.25rem;
    color: white;
    font-weight: 700;
  }
}

.one-button-active:hover {
  transform: translateY(-0.5dvh);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.one-button-active:active {
  transform: translateY(0);
}

.one-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--azul-crepusculo);
  border-radius: 0.75rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  gap: 1dvw;
  width: 50%;
  padding: 1.25rem;
  transition: all 0.3s ease;

  i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--azul-crepusculo);
    font-size: 1rem;
  }

  p {
    font-size: 1.25rem;
    color: var(--azul-crepusculo);
    font-weight: 700;
  }
}

.one-button:hover {
  transform: translateY(-0.5dvh);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.one-button:active {
  transform: translateY(0);
}

.cont-compartilhar {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 3dvh;

  .comprovante_link{
    color: var(--azul-crepusculo);
    font-weight: 700;
    font-size: 2.5rem;
    text-decoration: underline;
  }

  p {
    font-size: 1.5rem;
    font-weight: 700;
  }

  a {
    color: var(--azul-crepusculo);
  }
}

.options-share {
  display: flex;
  justify-content: center;
  gap: 1dvw;
}

.one-option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 2px solid var(--cinza-claro);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;

  i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--azul-crepusculo);
    font-size: 2rem;
  }
}

.one-option:hover {
  transform: translateY(-0.5dvh);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.one-option:active {
  transform: translateY(0);
}

@media (max-width: 1024px) {
  .padding {
    gap: 5dvh;
  }

  .msg-confirmado h2 {
    font-size: 1.25rem;
    text-align: center;
  }

  .cont-number {
    h3 {
      font-size: 1.25rem;
    }

    h2 {
      font-size: 1.5rem;
    }
  }

  .titulo-info {
    gap: 5dvw;

    i {
      font-size: 1rem;
    }

    h5 {
      font-size: 1rem;
    }
  }

  .descricao-info p {
    font-size: 1rem;
  }

  .cont-pedido h2 {
    font-size: 1.5rem;
  }

  .row-pedido p {
    font-size: 1rem;
  }

  .row-total p {
    font-size: 1.25rem;
  }

  .one-button {
    display: none;
  }

  .one-button-active {
    padding: 1rem;
    width: 100%;

    p {
      font-size: 1rem;
    }
  }

  .cont-compartilhar {
    h2 {
      font-size: 1.5rem;
    }

    p {
      font-size: 0.75rem;
    }
  }

  .one-option {
    width: 3rem;
    height: 3rem;

    i {
      font-size: 1.25rem;
    }
  }
}
