#adm {
  padding: 6rem;
}

.linha-inicial {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titulo_linha-inicial {
  font-family: var(--bebas);
  color: var(--azul-crepusculo);

  h1 {
    font-size: 4rem;
  }
}

.novo_produto {
  background-color: var(--azure);
  border-radius: 5px;
  border: none;
  width: 20vh;
  height: 3.5vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.novo_produto:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.novo_produto:active {
  transform: scale(1);
}

.cont_addproduto {
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    color: var(--branco);
    margin: 0;
    font-size: 1.2rem;
    padding: 0.4rem 0.2rem 0 0;
  }

  p {
    color: var(--branco);
    font-weight: 700;
    font-size: 1.2rem;
  }
}

.paimodal {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.btn-close {
  margin-right: 1rem !important;
  outline: none !important;
}

.titulo-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: var(--azure);
  border-radius: 5px;
  padding: 0 0.9rem 0 0.9rem;

  i {
    color: var(--branco);
    font-size: 2rem;
  }

  h1 {
    font-weight: 700;
    color: white;
    margin: 0 1rem 0 0;
  }
}

.icon_titulo-modal {
  margin: 0.3rem 0 0 0.2rem;
}

.titulo-modal-new_prod {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.9rem 0 0.9rem;
  border-radius: 5px;

  i {
    color: var(--branco);
    margin: 0;
    font-size: 2rem;
    margin-top: 0.3rem;
  }

  h1 {
    font-weight: 700;
    color: white;
  }
}

.titulo-modal-new_user {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.9rem 0 0.9rem;
  border-radius: 5px;

  i {
    color: var(--branco);
    margin: 0;
    font-size: 2rem;
    margin-top: 0.3rem;
  }

  h1 {
    font-weight: 700;
    color: white;
  }
}

.align {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1dvh;
  gap: 0.5dvh;
}

.eachinput {
  display: flex;
  flex-direction: column;
  gap: 0.25dvh;
  width: 95%;
  height: 7vh;

  p {
    color: var(--preto);
    font-weight: 700;
    font-size: 1.2rem;
  }

  input[type="text"],
  input[type="tel"],
  input[type="number"],
  input[type="password"],
  input[type="date"] {
    border: 1px solid var(--preto);
    border-radius: 5px;
    padding-left: 0.5rem;
    outline: none;
    width: 100%;
    height: 3.5vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
  }

  input:focus-within {
    transform: translateY(-0.5dvh);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border: 1px solid var(--azul-crepusculo);
  }


  select {
    border: 1px solid var(--preto);
    border-radius: 5px;
    outline: none;
    width: 100%;
    height: 3.5vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
  }

  select:focus-within {
    transform: translateY(-0.5dvh);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border: 1px solid var(--azul-crepusculo);
  }
}

.each2inputs {
  width: 96.3%;
  display: flex;
  flex-direction: column;
}

.each2inputs .row {
  width: 100%;
  margin: 0;
}

.each2inputs .col-12,
.each2inputs .col-md-6 {
  padding: 0 0.5rem;
}

.col-md-3 {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 0.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  justify-content: center;
}

.each2inputs .eachinput {
  width: 100%;
}

.tam_input {
  display: flex;
  flex-direction: column;
  gap: 1dvh;
  width: 95%;

  p {
    color: var(--preto);
    font-weight: 700;
    font-size: 1.2rem;
  }
}

.Prod {
  background-color: var(--azure);
}

.Users {
  background-color: var(--roxo-apagado) !important;
}

.size-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* celular: 2 por linha */
  gap: 8px;
  max-width: 100%;
}

.size-item {
  height: 5vh;
}

.salvar_novo-prod {
  margin: 2rem 0 2rem 0;
  border: none;
  background-color: #0a1e3f;
  color: white;
  font-weight: 700;
  font-size: 1.7rem;
  padding: 0.4rem 3rem 0.4rem 3rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.salvar_novo-prod:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: translateY(-0.5dvh);
}

.salvar_novo-prod:active {
  transform: translateY(0);
}

.salvar_novo-user {
  margin: 2rem 0 2rem 0;
  border: none;
  background-color: #0a1e3f;
  color: white;
  font-weight: 700;
  font-size: 1.7rem;
  padding: 0.4rem 3rem 0.4rem 3rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.salvar_novo-user:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: translateY(-0.5dvh);
}

.salvar_novo-user:active {
  transform: translateY(0);
}

.atualizar-prod {
  margin: 2rem 0 2rem 0;
  border: none;
  background-color: #0a1e3f !important;
  color: white;
  font-weight: 700;
  font-size: 1.7rem;
  padding: 0.4rem 3rem 0.4rem 3rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.atualizar-prod:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: translateY(-0.5dvh);
}

.atualizar-prod:active {
  transform: translateY(0);
}

input[type="file"] {
  direction: rtl;
  text-align: left;
}

input[type="file"]::-webkit-file-upload-button {
  background: #274e90;
  color: white;
  font-weight: 700;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.total-prod {
  background-color: var(--azul-vivido);

  h1,
  p {
    font-weight: 700;
  }
}

.box-modals {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  padding-top: 5vh;

  button {
    border: none;
    border-radius: 23px;
    color: var(--branco);
  }
}

.total-vendas {
  background-color: var(--verde);

  h1,
  p {
    font-weight: 700;
  }
}

.estoque-baixo {
  background-color: var(--vermelho-vivo);

  h1,
  p {
    font-weight: 700;
  }
}

.total-usuarios {
  background-color: var(--roxo-apagado);

  h1,
  p {
    font-weight: 700;
  }
}

#produtos_adm {
  padding: 1vh 6rem;
}

.titulo-linha {
  display: flex;
  align-items: center;
}

.titulo_secaoprod {
  font-weight: bold;
  font-size: 2em;
  margin: 0;
  margin-right: 16px;
  /* espaço entre o h1 e a linha */
}

.linha-gradiente {
  flex-grow: 1;
  height: 4px;
}

.searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 3vh;
}

.searchbarUser {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 0;
  width: 80%;
}

.searchbar2 {
  border-radius: 25px;
  width: 80%;
  transition: all 0.3s ease;
}

.searchbar2User {
  background-color: var(--cinza-claro4);
  border-radius: 25px;
  width: 100%;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.searchbar2:focus-within {
  transform: scaleY(-0.75dvh);

  input::placeholder {
    color: var(--cinza);
  }
}

.searchbar2User:focus-within {
  border-color: var(--azul-crepusculo);

  input::placeholder {
    color: var(--cinza);
  }
}

.searchId {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1px solid transparent;
  align-items: center;
  padding: 0.5rem;
  position: relative;
  border-radius: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;

  input {
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    height: 100%;
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    border-radius: 2rem;
    padding-left: 1rem;
  }

  input::placeholder {
    color: var(--cinza-escuro);
    font-size: 1rem;
  }

  button {
    border: none;
    background-color: transparent;
    padding-right: 0.7rem;
    margin-left: auto;
  }

  i {
    font-size: 1.25rem;
    color: var(--preto);
  }
}

.searchId:focus-within {
  border-color: var(--azul-crepusculo);
  box-shadow: 0 4px 12px rgba(26, 54, 93, 0.4);
  transform: translateY(-0.75dvh);

  input::placeholder {
    color: var(--cinza);
  }
}

.searchIdUser {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 2px solid transparent;
  align-items: center;
  padding: 0.5rem;

  input {
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    height: 100%;
    padding-right: 3rem;
  }

  input::placeholder {
    color: var(--cinza);
    font-size: 1.2rem;
  }

  button {
    border: none;
    background-color: transparent;
    padding-right: 0.7rem;
  }

  i {
    font-size: 1.25rem;
    color: var(--preto);
  }
}

.tabela_produtos {
  width: 100%;
  margin-top: 6vh;

  table {
    width: 100%;
  }
}

.cabecalho_tabela {
  th {
    background-color: #f2f2f2;
    color: #333;
    padding: 12px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
  }
}

/* Linhas da tabela */
.eachproduto {
  td {
    padding: 10px 12px;
    border-bottom: 1px solid #e0e0e0;
    vertical-align: middle;
    font-size: 14px;
  }
}

.nome_prod {
  font-weight: 700;
}

/* Estoque com cores */
.estoque-verde {
  background-color: #dcfce7;
  color: #009f52;
  width: 6vh;
  text-align: center;
  border-radius: 15px;
}

.estoque-vermelho {
  background-color: #fee2e2;
  color: #b30000;
  width: 6vh;
  text-align: center;
  border-radius: 15px;
}

/* Preço */
.preco_prod {
  color: #333;
}

/* Status */
.status_prod {
  color: #1800ad;
  text-transform: capitalize;
}

.status_ativo {
  background-color: #dbeafe;
  width: 5vh;
  text-align: center;
  border-radius: 15px;
}

/* Ícones de ação */
.actions_prod .acoes {
  display: flex;
  gap: 10px;
}

.acoes_cabecalho {
  text-align: end;
}

.acoes {
  display: flex;
  justify-content: end;

  button {
    background-color: transparent;
    border: none;
  }
}

.editar_prod {
  i {
    color: #122f60;
  }
}

.editar-produto {
  display: flex;
  align-items: center;
}

.botao_excluirprod {
  i {
    color: #b30000;
  }
}

.editar_produto button,
.excluir-produto button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #555;
  transition: color 0.3s ease;
}

.linha-inicial_modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eachUser {
  td {
    padding: 10px 12px;
    border-bottom: 1px solid #e0e0e0;
    vertical-align: middle;
    font-size: 14px;
  }
}

.nome_user {
  font-weight: 700;
}

.tabela_users {
  width: 100%;
  margin-top: 3vh;

  table {
    width: 100%;
  }
}

.delete_usuario {
  display: flex;
  align-items: center;
  background-color: #b30000;
  width: fit-content;
  color: var(--branco);
  border-radius: 8px;

  h1 {
    padding: 0 0.7rem 0 1.5rem;
    font-weight: 700;
  }

  i {
    padding: 0.5rem 1.5rem 0 0;
    font-size: 3rem;
  }
}

.icon_deletar {
  i {
    font-size: 6rem;
    color: rgb(224, 224, 53);
  }
}

.confirm_delete {
  text-align: center;

  h2 {
    font-weight: 700;
  }

  p {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
}

.submit-delete_usuario {
  background-color: #b30000;
  padding: 0.7rem 2rem;
  font-weight: 700;
  font-size: 1.2rem;
}

.submit-delete_prod {
  background-color: #b30000 !important;
  padding: 0.7rem 2rem;
  font-weight: 700;
  font-size: 1.2rem;
  color: white !important;
  border-radius: 0.8rem;
  border: none !important;
}

.cancel-btn {
  background-color: var(--cinza) !important;
  padding: 0.7rem 2rem;
  font-weight: 700;
  font-size: 1.2rem;
  color: white !important;
  border-radius: 0.8rem;
  border: none !important;
}

.Estoque {
  background-color: var(--vermelho-vivo) !important;
}

.tabela_estoquebaixo {
  width: 100%;
  margin-top: 1vh;

  table {
    width: 100%;
  }
}

.Vendas {
  background-color: var(--verde);
}

.tabela_vendas {
  width: 100%;
  margin-top: 1vh;

  table {
    width: 100%;
  }
}

.nomeUser_compra {
  font-weight: 700;
}

.cont_total-vendas {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 20vh;
  height: 20vh;
  padding: 2rem;
  margin: 1.5rem;

  h1 {
    font-size: 1.7rem;
  }

  i {
    color: #1f2224;
    font-size: 5rem;
    padding-top: 0.6rem;
  }

  p {
    font-size: 1.8rem;
  }
}

.cont_estoque-baixo {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 20vh;
  height: 20vh;
  padding: 2rem;
  margin: 1.5rem;

  h1 {
    font-size: 1.7rem;
    padding-top: -0.2rem;
  }

  i {
    color: #1f2224;
    font-size: 5rem;
    padding-top: 0;
  }

  p {
    font-size: 1.8rem;
    margin-top: -2rem;
  }
}

.cont_total-usuarios {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 20vh;
  height: 20vh;
  padding: 2rem;
  margin: 1.5rem;

  h1 {
    font-size: 1.7rem;
  }

  i {
    color: #1f2224;
    font-size: 5rem;
    padding-top: 0.6rem;
  }

  p {
    font-size: 1.6rem;
  }
}

.cont_total-prod {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 20vh;
  height: 20vh;
  padding: 2rem;
  margin: 1.5rem;

  h1 {
    font-size: 1.7rem;
  }

  i {
    color: #1f2224;
    font-size: 5rem;
    padding-top: 0.6rem;
  }

  p {
    font-size: 1.8rem;
  }
}

.botoes-adm {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.botoes-adm:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: translateY(-1dvh);
}

.botoes-adm:active {
  transform: translateY(0);
}

/* tablet e desktop: 7 por linha */
@media (min-width: 768px) {
  .size-grid {
    grid-template-columns: repeat(7, 1fr);
  }
}

.size-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: none;
  border-radius: 6px;
  background-color: #dcdcdc;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  user-select: none;
}

.size-item:hover {
  transform: translateY(-0.5dvh);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.size-item:active {
  transform: translateY(0);
}

/* esconder checkbox nativo */
.size-item input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

/* estilo quando selecionado */
.size-item input[type="checkbox"]:checked+span {
  background-color: var(--cinza-meioescuro);
  font-weight: 600;
  padding: 6px 12px;
  border-radius: 4px;
  border: none;
}

/* Paginação */

#paginacao {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 4vh;
  margin-bottom: 4vh;

  button {
    background-color: #0a1e3f;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
  }

  span {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  i {
    color: white;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
  }
}

#btnAnterior {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

#btnAnterior:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

#btnAnterior:active {
  transform: scale(1);
}

#btnProxima {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

#btnProxima:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

#btnProxima:active {
  transform: scale(1);
}

#nome_prod-new {
  font-size: 0.85rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

#nome_prod-new:focus-within {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: translateY(-0.5dvh);
  border: 1px solid var(--azul-crepusculo);
}

#ca_prod-new {
  font-size: 0.85rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

#ca_prod-new:focus-within {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: translateY(-0.5dvh);
  border: 1px solid var(--azul-crepusculo);
}

#qtd_prod-new {
  font-size: 0.85rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

#qtd_prod-new:focus-within {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: translateY(-0.5dvh);
  border: 1px solid var(--azul-crepusculo);
}

#marca_prod-new {
  font-size: 0.85rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

#marca_prod-new:focus-within {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: translateY(-0.5dvh);
  border: 1px solid var(--azul-crepusculo);
}

#preco_prod-new {
  font-size: 0.85rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

#preco_prod-new:focus-within {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: translateY(-0.5dvh);
  border: 1px solid var(--azul-crepusculo);
}

#descricao_prod-new {
  font-size: 0.85rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

#descricao_prod-new:focus-within {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: translateY(-0.5dvh);
  border: 1px solid var(--azul-crepusculo);
}

#categoria_prod-new {
  font-size: 0.85rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

#categoria_prod-new:focus-within {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: translateY(-0.5dvh);
  border: 1px solid var(--azul-crepusculo);
}

#datavalidade_prod-new {
  font-size: 0.85rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

#datavalidade_prod-new:focus-within {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: translateY(-0.5dvh);
  border: 1px solid var(--azul-crepusculo);
}

#atualiza-nome_prod-new {
  font-size: 0.85rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

#atualiza-nome_prod-new:focus-within {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: translateY(-0.5dvh);
  border: 1px solid var(--azul-crepusculo);
}

#atualiza-ca_prod {
  font-size: 0.85rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

#atualiza-ca_prod:focus-within {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: translateY(-0.5dvh);
  border: 1px solid var(--azul-crepusculo);
}

#atualiza-qtd_prod {
  font-size: 0.85rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

#atualiza-qtd_prod:focus-within {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: translateY(-0.5dvh);
  border: 1px solid var(--azul-crepusculo);
}

#atualiza-marca_prod {
  font-size: 0.85rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

#atualiza-marca_prod:focus-within {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: translateY(-0.5dvh);
  border: 1px solid var(--azul-crepusculo);
}

#atualiza-preco_prod {
  font-size: 0.85rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

#atualiza-preco_prod:focus-within {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: translateY(-0.5dvh);
  border: 1px solid var(--azul-crepusculo);
}

#atualiza-descricao_prod {
  font-size: 0.85rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

#atualiza-descricao_prod:focus-within {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: translateY(-0.5dvh);
  border: 1px solid var(--azul-crepusculo);
}

#atualiza-categoria_prod {
  font-size: 0.85rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

#atualiza-categoria_prod:focus-within {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: translateY(-0.5dvh);
  border: 1px solid var(--azul-crepusculo);
}

#atualiza-datavalidade_prod {
  font-size: 0.85rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

#atualiza-datavalidade_prod:focus-within {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: translateY(-0.5dvh);
  border: 1px solid var(--azul-crepusculo);
}

.total-mensagens {
  background-color: #529a8d;
}

.Mensagens {
  background-color: #529a8d;
}

.cont_total-mensagens {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 20vh;
  height: 20vh;
  padding: 2rem;
  margin: 1.5rem;

  h1 {
    font-size: 1.7rem;
    font-weight: 700;
  }

  i {
    color: #1f2224;
    font-size: 5rem;
    padding-top: 0.6rem;
  }

  p {
    font-size: 1.8rem;
    font-weight: 700;
  }
}



.eachmensagem {
  display: flex;
  flex-direction: column;
}

.linhainicial-eachmensagem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linha-info_mensagem {
  display: flex;

  p {
    font-weight: 700;
    color: #737373;
  }
}

.mensagem {
  display: flex;
  flex-direction: column;
}

.mensagem_contato {
  padding-left: 2rem;
}

.info2 {
  margin-left: 2rem;
}

.infoprincipal {
  display: flex;

  i {
    font-size: 1.5rem;
  }

  h4 {
    padding-left: 0.7rem;
    font-weight: 650;
  }
}

.delete-mensagem {
  i {
    color: #b30000;
    font-size: 1.4rem;
  }
}

/* <!--------------------------------- Responsividade ----------------------------------!> */

/* <!----------- Celulares --------------!> */
@media (max-width: 700px) {
  #adm {
    padding: 6rem 1rem 6rem 1rem;
  }

  .linha-inicial {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    h1 {
      text-align: center;
    }
  }

  .prod_red {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 4rem 4rem 4rem 1rem;
  }

  .box-modals {
    margin: 0;
  }

  .col-md-3 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 0.5rem;
  }

  input[type="file"] {
    direction: rtl;
    text-align: left;
    width: 98%;
  }

  .searchbar2 {
    width: 100%;
  }

  #produtos_adm {
    padding: 0 1rem 0 1rem;
  }

  .searchbar2User {
    width: 96%;
  }

  .searchIdUser {
    padding: 0.1rem;
  }
}

/* <!----------- Tablets/Laptops pequenos --------------!> */
@media (max-width: 1024px) and (min-width: 700px) {
  #adm {
    padding: 6rem 1rem 6rem 1rem;
  }


  .col-md-3 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 0.5rem;
  }

  .prod_red {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 4rem;
  }


  #produtos_adm {
    padding: 0 1rem 0 1rem;
  }

  .searchbar2 {
    width: 100%;
  }

  .searchbar2User {
    width: 96%;
  }

  .searchIdUser {
    padding: 0.1rem;
  }
}

@media (max-width: 1300px) and (min-width: 1025px) {
  #adm {
    padding: 6rem 1rem 6rem 1rem;
  }

  .prod_red {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 3rem;
  }

  .cont_addproduto {
    height: 100%;
  }


  #produtos_adm {
    padding: 0 1rem 0 1rem;
  }

  .searchbar2 {
    width: 100%;
  }

  .searchbar2User {
    width: 96%;
  }

  .searchIdUser {
    padding: 0.1rem;
  }
}

@media (max-width: 1424px) and (min-width: 1302px) {
  #adm {
    padding: 6rem 1rem 6rem 1rem;
  }

  #produtos_adm {
    padding: 0 1rem 0 1rem;
  }

  .searchbar2 {
    width: 100%;
  }

  .searchbar2User {
    width: 96%;
  }

  .searchIdUser {
    padding: 0.1rem;
  }
}