@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --azul-crepusculo: #00167a;
  --montserrat: "Montserrat", sans-serif;
  --bebas: "Bebas Neue", sans-serif;
  --cinza-escuro: #545454;
  --cinza: #d9d9d9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--montserrat);
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}
