/* <------------------------ Configurações Gerais ----------------------------> */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --azul-crepusculo: #00167a;
  --montserrat: "Montserrat", sans-serif;
  --bebas: "Bebas Neue", sans-serif;
  --cinza-escuro: #545454;
  --cinza: #a6a6a6;
  --cinza-claro: #d9d9d9;
  --branco: #ffff;
  --azul-escuro: #122f60;
  --preto: #000000;
  --azul-claro: #00a1ff;
  --laranja: #f86402;
  --laranja-frio: #ff7d2e;
  --cinza-meio_escuro: #878787;
  --verde: #55cc61;
  --azure: #196b9b;
  --cinza-claro2: #cfcfcf;
  --cinza-claro3: #adb0b7;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
div,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

html, body {
    overflow-x: hidden !important;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

body {
  font-family: var(--montserrat);
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

/* <-------------------------------- Header -----------------------------------> */
#header_usuario {
  height: 7.5vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.2px solid var(--cinza);
  background-color: var(--branco);
  position: sticky;
  top: 0;
  z-index: 1000;
  position: fixed;
}

.button_openmenu {
  margin-left: 1.3rem;
  background-color: transparent;
  border: none;

  img {
    width: 90%;
  }
}

.logo_header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  img {
    width: 15%;
    margin-left: 1rem;
  }
}

.icons_header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 0.7rem;

  a {
    margin-top: 0.5rem;
    padding: 0.6rem;
  }
}

.menulateral_header {
  width: 30%;
}

#offcanvasWithBothOptions {
  background-color: var(--azul-escuro);
  color: white;
}

#offcanvasWithBothOptions .btn-close {
  width: 5vh;
  height: 5vh;
  filter: invert(1);
  border: none;
}

.nav_item {
  transition: 1s ease;
  border-radius: 10px;

  a {
    display: flex;
    padding-left: 1rem;
    align-items: center;
    padding: 0.4rem 1rem 0.4rem 1rem;
  }

  p {
    margin-left: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.1rem;
    align-items: center;
    margin-bottom: 0;
  }
}

.submenu {
  display: none;
  flex-direction: column;
  margin-left: 3rem;

  a {
    border-radius: 10px;
    align-items: center;
    padding: 0.4rem 1rem 0.4rem 1rem;
    color: var(--cinza);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1rem;
  }

  i {
    margin: 6px 0 0 0.1rem;
    align-items: center;
    font-size: 1.3rem;
  }
}

.submenu.show {
  display: flex;
}

.menu_redirecionamento:hover {
  transition: 0.8s ease;
  background-color: var(--branco);
  color: var(--preto);
  border-radius: 10px;
}

.submenu_redirecionamento:hover {
  background-color: var(--branco);
  color: #000000;
  transition: 1s ease;
}

.nav_item.dropdown:has(.submenu.show):hover {
  background-color: transparent !important;
  color: var(--branco);
}

/* <-------------------------------- Footer -----------------------------------> */

footer {
  margin-top: 20vh;
  font-family: var(--montserrat);

  p {
    color: var(--branco);
    font-weight: 600;
  }

  li {
    color: var(--branco);
    font-weight: 600;
  }

  a {
    text-decoration: none;
  }
}

.nav-link {
  color: var(--branco);
}

.footer_fundo {
  width: 100%;
  background-color: var(--azul-escuro);
}

.socialmedia {
  display: flex;

  gap: 10px;

  i {
    color: var(--branco);
    font-size: 1.5rem;
  }
}

.socialmedia2 {
  margin-top: 35%;
  margin-left: 7rem;
  width: 30vh;
}

footer.col-6.col-md-2.mb-3 {
  width: 35vh;
}

.principal_footer {
  text-align: center;
  width: 30vh;
}

.redirecionamento_footer {
  margin-left: 8.2rem;
  width: 30vh;
  margin-top: 15%;
}

.footerlink {
  transition: 0.5s ease;
}

.footerlink:hover {
  color: var(--cinza-claro);
  transform: scale(1.06);
  transition: 0.5s ease;
}

.cadastro_lancamentos {
  margin-top: 6%;

  input {
    background-color: transparent;
    border: 2px solid var(--branco);
    border-radius: 20px;
    padding-left: 10px;
    width: 35vh;
    color: var(--branco);
  }

  input::placeholder {
    color: var(--branco);
    font-size: 1rem;
  }

  button {
    background-color: var(--branco);
    border: transparent;
    border-radius: 20px;
    width: 15vh;
    font-family: var(--montserrat_fonte);
    color: var(--azul-crepusculo);
    font-weight: 600;

  }
}

#btnCadastrarLancamento:hover {
  transform: scale(1.1);
  transition: 0.6s ease;
}


/* <!--------------------------------- Responsividade ----------------------------------!> */

/* <!----------- Celulares --------------!> */
@media (max-width: 480px) {

  /* Header */
  .button_openmenu {
    img {
      width: 2.5rem;
    }
  }

  .logo_header {
    img {
      width: 5rem;
    }
  }

  /* Footer */
  .footer_fundo{
    width: 100%;
  }

  .socialmedia2 {
    margin-left: 2rem;
  }

  .principal_footer {
    width: 20vh;
    margin-top: 2vh;
  }

  .tlls {
    text-align: center;
  }

  .redirecionamento_footer {
    width: 15vh;
    text-align: center;
    margin-top: 15%;
  }

  .cadastro_lancamentos {
    padding: 0.5rem 1.5rem 0.4rem 1.5rem;
    text-align: center;

    input {
      height: 4vh;
    }

    input::placeholder {
      font-family: var(--montserrat_fonte);
      color: var(--branco);
      font-size: 1rem;
    }

    button {
      height: 4vh;
      margin-top: 1rem;
    }
  }

  .tllj {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}

/* <!----------- Tablets/Laptops pequenos --------------!> */
@media (max-width: 1024px) and (min-width: 481px) {
  /* Header */
  .button_openmenu {
    img {
      width: 3rem;
    }
  }

  .logo_header {
    img {
      width: 6rem;
    }
  }
  /* Footer */
  .footer_fundo{
    width: 100%;
  }
  #info_prods {
        padding: 2rem 2rem !important;
    }
}