:root {
    --azul-crepusculo: #00167a;
    --montserrat: "Montserrat", sans-serif;
    --bebas: "Bebas Neue", sans-serif;
    --cinza-escuro: #545454;
    --cinza: #a6a6a6;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--montserrat);
    height: 100vh;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    height: 7.5vh;
    background-color: turquoise;
}

.padding {
    height: 92.5vh;
    padding: 2.5% 5%;
}

.main-login {
    display: flex;
    border-radius: 1rem;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    padding: 2.5%;
    gap: 3vw;
}

.lado-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.logo-reta {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.logo-reta img {
    width: 7.5%;
    margin-bottom: 2vh;
}

.logo-reta h1 {
    font-family: var(--bebas);
    font-size: 2.5rem;
}

.welcome-login h2{
    color: var(--azul-crepusculo);
    font-size: 2rem;
}

.welcome-login p {
    color: var(--cinza-escuro);
    font-size: 1.1rem;
}

.form-login {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.one-input {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.one-input label {
    pointer-events: none;
}

.one-input input {
    border-radius: 0.5rem;
    border: 1px solid var(--cinza);
    height: 5vh;
    padding: 1rem;
}

.one-input input::placeholder {
    color: var(--cinza);
    font-size: 0.9rem;
}

.form-login button {
    border: none;
    background-color: var(--azul-crepusculo);
    height: 5vh;
    border-radius: 0.5rem;
    color: white;
    margin-top: 1vh;
}

.linha-others {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75vw;
}

.linha {
    flex: 1;
    height: 1px;
    border: 1px solid var(--cinza-escuro);
}

.linha-others p {
    margin-top: 1.5vh;
    color: var(--cinza-escuro);
}

img {
    width: 20px;
}
