:root {
    --azul-crepusculo: #00167a;
    --montserrat: "Montserrat", sans-serif;
    --bebas: "Bebas Neue", sans-serif;
    --cinza-escuro: #545454;
    --cinza: #a6a6a6;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--montserrat);
    height: 100vh;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}
